  body {
  background-color: blueviolet;
}

.Header {
  text-align: center;
}

.favorite {
  text-align: center;
}

.watch {
  text-align: center;
}

#Abomination {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#Video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
}
